<section class="row chatdesk spc--xl--bottom id=chatdesk">
	<div class="col-xs-12 col-sm-6 col-sm-offset-2">
		
		
			<a href="/">
				<img class="hero__logo-chatdesk" style="display:block; margin:0 auto;" src="../images/2sqrs_logo.svg">
			</a>
			<img class="chatbot-background-img spc--md" src="../images/chatbot_bg_img.png">
		
		
			
			<div class="spoken-input">
				<input id="text_input" class="chatdesk__input" type="text">
				<button class="record_button">Speak</button>
			</div>

			<div class="chat-area" id="chat-area">
			</div>
			<!--<div id="spokenResponse" class="spoken-response autoexpand spc--lg" style="float:right">-->
				<!--<div class="spoken-response__text autoexpand" style="display:inline-block"></div>-->
				<!--<div class="author-response">2SQRS-BOT</div>-->
			<!--</div>-->
	</div>
</section>

<span id='countdowntimer'></span> 5seconds</span>

<div class="debug">
	<button class="debug__button">Debug JSON result</button>
	<div class="debug__content">
	<textarea id="response" cols="29" rows="18"></textarea>
	</div>
</div>


					
					<!--<div class="quickscan__pattern">-->
						<!--<img src="../images/2SQRS_pattern_small.svg">-->


<!--<section class="row chatdesk" id="chatdesk">-->
	<!---->
	<!--<div class="debug">-->
		<!--<div class="debug__button chatdesk__button">-->
			<!--Debug JSON results-->
		<!--</div>-->
		<!--<div class="debug__content">-->
			<!--<textarea id="response" cols="40" rows="20"></textarea>-->
		<!--</div>-->
	<!--</div>-->
	<!---->
<!--</section>-->





